body {
    background-color: rgb(11, 186, 255);
}

.titulo {
    color: blueviolet;
}
.subtitulo {
    color: rgb(245, 10, 233);
}
.caja {
    border-top: 4px solid;
    border-right: 2px solid;
    border-bottom: 6px solid;
    border-left: 8px solid;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-right: 80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive;
}   