/* reseteo de margen y relleno las etiquetas*/

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

body {
    
    background-color: rgb(11, 186, 255);
   
}

.cursor {
    cursor:url(../images/camera.cur), auto;
}

.header {
  height: 180px;
}

.logo {
    padding-top: 30px;
  height: auto;
  width: auto;
}

.logo:hover {
    transform: scale(1.3); 
    transition: transform .2s;
}

.navbar {
    background: rgb(255, 255, 255);
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
}
.navbar ul {
    text-align: center;
 
    
}
.navbar ul li {
    display: inline-block;
    margin-left: 80px;
}

a {
    text-decoration:none;
}

.navbar ul li a:hover {
    color: rgb(255, 17, 196);
    transition:all .5s ease-in-out;
    text-decoration-line: none;
}

.titulo {
    margin-top: 20px;
    color: blueviolet;
    text-align: center;
}
.subtitulo {
    color: rgb(245, 10, 233);
    text-align: center;

}
.caja {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-radius: 8px;
    text-align: center;
}   

.video {
    margin-top: 30px;
    text-align: center;
}

.formulario {
    font-size: large ;
    margin: 0 auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.seguridad {
    text-align: center;
    font-size: larger
}

address {
    text-align: center;
}

.cajaprincipal {
    margin: 10px;
    padding:15px 15px 20px 15px;
    background:#0538df;
    border-radius: 8px;
    width: 400px;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caja-destacada{
    padding:15px 15px 20px 15px;
    border-left:5px solid #fd00c6;
    background:#F5F5F5;
    border-radius: 8px;
    width: 300px;
}

.caja-destacada2 {
    margin-top: 6px;
    padding:15px 15px 20px 15px;
    border-left:5px solid #4e09ce;
    background:#F5F5F5;
    border-radius: 8px;
    width: 300px;
    
}